body {
    background-color: #dddddd;
}

/*=== CABECALHO ===*/

.logo {
    width: 50px;
    float: left;
    color: rgb(255, 255, 255);
    margin: 10px 5%;
}

.cabecalho {
    width: 100%;
    height: 80px;
    background-color:#292929;
}

.bt_menu {
    margin: 15px 20px; 
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    float: right;
    border-radius: 100%;
    background-color: #353535;
    background-image: url(../img/btn.png);
    background-size: 35% ;
    background-position: center;
    background-repeat: no-repeat;
}

/*=== MENU ===*/

.menu {
    transition: 0.8s;
    z-index: 1;
    top: 80px;
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #363636;
    overflow: hidden;
}

.menu ul {
    border: solid 0.5px #424242;
    width: 100%;
    text-align: center;
}

.menu li {
    width: 100%;
    height: 50px;
    border: solid 1px #424242;  
    padding: 10px;
    transition: 0.3s;
}

.menu li:hover {
    background-color: #292929;
}

.menu li a {
    border-bottom: 5px #ed3237;
    font-size: 1.2em;
    color: white;
    transition: 0.3s;
}

.menu li a:hover {
    color: #bbbbbb;
}

/*=== SLIEDER ===*/

.slideshow {
    background-image: url(../img/slider1.jpg);
    width: 90%;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
    height: 300px;
    overflow: hidden;
    transition: 0.8s;
    text-align: center;
}

.bts {
    margin-top: 260px;
}

.bt-next {
    border: solid 4px #ffffff;
    margin: 15px 20px; 
    width: 20px;
    height: 20px;
    background: none;
    cursor: pointer;
    border-radius: 100%;
    margin: 5px;
    transition: 0.5s;
}

.bt-next:hover {
    background-color: #424242;
    transition: 0.5s;
}

.bt-atual {
    border: solid 4px #ffffff;
    margin: 15px 20px; 
    width: 20px;
    height: 20px;
    background-color: #424242;
    cursor: pointer;
    border-radius: 100%;
    margin: 5px;
}

/*=== HISTÓRIA ===*/

main {
    margin-left: 5%;
    padding: 3% 4%;
    background-color: white;
    width: 90%;
    text-align: left;
}

.bemvindo {
    text-align: left;
}

.bemvindo h4 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

 /*=== BLOCOS ===*/

 .conquistas {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
 }

.iconblocos {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;  
}

 /*=== MAPS ===*/

.maps {
    position: relative;
    width: 100%;
}

.maps iframe {
    width: 100%;
    height: 300px;
}

.maps h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*=== RODAPE ===*/

footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #292929;
    color: white; 
 }

 footer p {
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
 }

 footer a {
     text-decoration: none;
     color: white;
 }

 .arearestrita {
     padding-top: 5px;
 }

/*AJUSTE RESPONSIVO*/

 @media screen and (min-width: 1024px) {
    .bt_menu {
        display: none;
    }

    .menu {
        font-family: 'Dosis', sans-serif;
        font-size: 12px;
        margin-right: 80px;
        width: initial;
        float: right;
        padding-top: 28px;
        background: none;
        position: initial;
        top: initial;
        z-index: initial;
        transition: initial;
        overflow: initial;
    }

    .menu ul {
        border: none;
    }

    .menu ul li {
        display: inline;
        border: none;
    }

    .slideshow {
        background-size: 100%;
        height: 400px;
    }

    .bts {
        margin-top: 360px;
    }
}

 